*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  body{
    color: black;
    cursor: pointer;
 
   }
   .navbar{
   padding: 25px;
   width: 19%;
 padding-top: 50px;
    color: white;
    background-color:gray;
     position: fixed;
     height: 100%;
  }
  nav ul{
    gap: 2em;
    list-style: none;
    padding-top: 55px;
    padding-left: 30px;
  }
  nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 10px;
  }
  nav ul li a:hover{
    color:blue;
  }

  .navbar img{
   border: 2px solid white;
   border-radius: 50%;
  }
  .home{
   text-align: center;
   }
 
  #home{
   display:flex;
   
  }
  #loki{
    margin-left:19% ;
  }
   #home .text1{
   height: 730px;
   width: 100%;
color: black;
  }
  .text1{
    display: flex;
    justify-content: space-between;
  }
  .text1 img{
     border-radius: 50%;
     box-shadow: 2px 2px 2px gray;
    margin-top: 10em;
    margin-right: 2em;
  }
  #raara{
    animation: movee 1s linear forwards;
  }
  @keyframes movee{
    0%{
      transform: translateX(-20em);
     }
    100%{
      transform: translateX(0%);
    }
  }
    .text {
    padding-top: 20em;
    padding-left: 5em;
  }
  #noo{
    animation: move 3s linear forwards;

  }
  @keyframes move{
    0%{
      transform: translateX(-20em);
     }
    100%{
      transform: translateX(0%);
    }
  }
  .h1{
   font-size: 40px;
   color: blue;
  }
  marquee{
 position: absolute; 
 transform: translateX(10px);
 width: 75%;
 }



 .wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: gray;
  color: white;
}
.wrapper .resume:hover,
.wrapper .resume:hover .tooltip,
.wrapper .resume:hover .tooltip::before {
  background:rgba(0, 0, 0, 0.747) ;
  color: white;
}
.icon .fa-github:hover{
  color: white;
}


.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

#social{
  margin-top: -25%;
  margin-left: -60%;
  animation: name 5s linear forwards;
}
@keyframes name{
  0%{
    transform: translateX(-30em);
    transition-delay: 4s;
  }
  100%{
    transform: translateX(0%);
  }
}


.twitter .fa-brands{
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 7px;
  color: black;
  text-decoration: none;
 }
 .resume .fa-solid{
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 7px;
  color: black;
 }
 .resume .fa-solid:hover{
  color: white;
 }



 /*----------About-----------*/
 
 #about{
  padding-top: 70px;
  }
  #about h1{
   color: blue;
   padding: 10px;
   text-shadow: 2px 2px 1px white;
   text-align: center;
   font-size: 40px;
  }
  #about h2{
    color: blue;
    padding: 10px;
    text-shadow: 2px 2px 1px white;
    text-align: center;
    font-size: 30px;

   }
 
  #about p{
    text-align: center;

  }
 .info img{
  background: transparent;
 }
 .info{
   display: flex;
   justify-content: space-evenly;
   padding-top: 40px;
 }
 .dob{
   display: flex;
   gap: 50px;
 }
 .dob h3{
   font-size: 17px;
 }
 .front{
   padding: 30px;
 }
 b{
   color: rgba(0, 0, 255, 0.685);
   font-size: 22px;
 }
 .fa-solid.fa-angle-right{
   padding-top: 20px;
 }
 #about p{
   font-size: 15px;
   font-weight: 700;
 }
 .btn{
  margin-left: 10%;
 }
 
 /*----------skills----------*/
 #skills{
 text-align: center;
padding-top: 80px;

 }
 #skills h1{
   color: blue;
   padding: 10px;
   text-shadow: 2px 2px 1px white;
   font-size: 40px;

}
  #status{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
  }
  .deepu p{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 7px solid blue;
    text-align: center;
    position: absolute;
    margin-top: -6em;
    margin-left: 10em;
    padding-top: 1.5em;
    background-color: rgb(12, 196, 216);
    font-weight: 2000px;
    opacity: 0.5;
    color: blue;

  }
  .deepu a{
    font-size: 150px;
  }
   /*----------certificates----------*/

      #certificate{
         text-align: center;
        padding-top: 140px;
          }
    #certificate h1{
      color: blue;
      padding: 10px;
      text-shadow: 2px 2px 1px white;
      font-size: 40px;
  
     }
     #certificate .cert-list{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 50px;
      margin-left: 7%;
     }


 .card {
  padding: 20px;
  width: 330px;
  min-height: 370px;
  border-radius: 20px;
  background: #e8e8e8;
  box-shadow: 5px 5px 6px #dadada,
               -5px -5px 6px #f6f6f6;
  transition: 0.4s;
}

.card:hover {
  translate: 0 -10px;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  color: #2e54a7;
  margin: 15px 0 0 10px;
}

 
.card-body {
  margin: 13px 0 0 10px;
  color: rgb(31, 31, 31);
  font-size: 15px;
}

.footer {
  float: right;
  margin: 28px 0 0 18px;
  font-size: 13px;
  color: #636363;
}

.by-name {
  font-weight: 700;
}
  .cert-info{
      position: absolute;
      margin-top: -303.5px;
      color:black;
      text-align: center;
      padding-top: 100px;
      opacity: 0;
      font-size: 20px;
      width: 300px;
      height: 300px;
  backdrop-filter: blur(5px);
      transition: 1s;
      margin-left: 30px;
  }
  .cert-info h4{
    color:blue;
    font-size: 30px;
  }
  .cert-info:hover{
      opacity: 1;
      transform: scale(1);
  }
  .cert-icon{
    display: flex;
    margin-left: 113px;
    gap: 20px;
    padding: 10px;
}
.cert-icon a{
    color: blue;
    font-size: 35px;
}

 /*----------portfolio----------*/
 #projects{
   text-align: center;
  padding-top: 140px;
}
  #projects h1{
    color: blue;
    padding: 10px;
    text-shadow: 2px 2px 1px white;
    font-size: 40px;

   }
   #projects .port-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-left: 7%;
   }
 .card {
  width: 300px;
  height: 299px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
 }
 
 .card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
 }
 
 .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }
 
 .text-body {
  color: rgb(134, 134, 134);
 }
 
  .text-title {
  font-size: 1.5em;
  font-weight: bold;
 }
 
  .card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }
 button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 button:hover {
  color: #e8e8e8;
 }
 
 button:hover::before {
  width: 100%;
 }
 .btnn{
  margin-left: -38%;
  width: 100%;
  padding: 1em;
 }
   /*----------contact----------*/
 #contacts{
   text-align: center;

  }
  #queries{
    padding: 50px;
   }
   .lokesh{
    display: flex;
    margin-top: 30px;
 justify-content: center;

 gap: 20px;
   }
 .lo h1{
    text-align: center;
    text-shadow: 2px 2px 1px white;
    color: blue;
    font-size: 40px;

 }
  .raj1{
    display: flex;
    height: 70px;
    padding-top: 20px;
    padding-left: 20px;
   
    box-shadow:10px 5px 15px 10px rgba(29, 28, 28, 0.25); 
    margin-bottom: 15px;
    background-color: rgb(247, 251, 255);
 
 }
 .raj .fa-solid{
 font-size: 25px;
 margin-right:9px ;
 color: black;
 }
 .raj h3{
    color: blue;
    margin-right: 5px;
 }
 .raj p{
  color: black;
 }
 .lo1{
     padding: 40px;
     border: 1px solid gray;


  
 }
 .raj1:hover{
    transform: scale(1.2);
    background-color:rgba(128, 128, 128, 0.651);
 }
 .lo2{
   color: white;
    height: 500px;
    width: 480px;
     padding: 40px;
    box-shadow:10px 5px 15px 10px rgba(41, 40, 40, 0.25); 
    border: 1px solid gray;
  
 }
 .main{
    display: flex;
    flex-wrap: wrap;
  }
 .user-details:nth-child(2n){
    justify-content: end;
   
  }
  .user-details{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom:15px ;
  }

  #loki{
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 80%;
   }
   #loki::-webkit-scrollbar{
    scroll-snap-type: y mandatory;
  }
  .lokii1{
    display: flex;
    gap: 30px;
  }
  .lokii1 input{
    height: 50px;
    width: 190px;
    color: black;
    border: 0.7px solid gray;
    border-radius: 5px;
    padding-left: 5px;
    box-shadow:10px 5px 15px 10px rgba(29, 28, 28, 0.25); 
  
 }
 .lokii1 input:hover{
    transform: scale(1.2);
    background-color:rgba(128, 128, 128, 0.651);
 
 }
   
  
 .container {
    background: #fff;
    margin: 1px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 450px;
    text-align: center;
}
h2 {
    color: #425ad7;
    font-size: 24px;
    margin-bottom: 20px;
}
input, textarea {
    width: 95%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    background: #f8f9fa;
    transition: border 0.3s ease;
}
input:focus, textarea:focus {
    border-color: #4c55c9;
    outline: none;
}
.error {
    color: red;
    font-size: 14px;
    display: none;
    text-align: left;
}
.container button {
    background: linear-gradient(135deg, #347ce0, #4658fc);
    color: #fff;
    padding: 12px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 15px;
    font-size: 16px;
    transition: 0.3s;
}
button:hover {
    background: linear-gradient(135deg, #3b79ec, #3165f3);
}
.response-message {
    margin-top: 15px;
    font-size: 14px;
    color: green;
    display: none;
    animation: fadeIn 0.5s;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
   
  
  /*----------educatin details----------*/
 #details{
    text-align: center;
    margin-bottom: 6em;
 
  }
 #container {
    width: 80%;
    padding: 50px 0;
    text-align: center;
    margin-left: 10%;
 
}

.timeline {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    position: relative;
    margin-top: -4em;
  }
 

/*.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 53.5%;
    width: 3px;
    height: 550px;
    background: black;
    transform: translateX(-50%);
*/

.timeline-column {
    width: 45%;
}

.section-title {
    font-size: 22px;
    font-weight: bold;
    color:rgba(14, 14, 209, 0.949);
    margin-bottom: 20px;
    margin-left: -60%;
}

.timeline-box {
  height: 35%;
    background: white;
    padding: 15px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);

    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.timeline-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 8px gray;
}

.timeline-box::before {
    content: "";
    position: absolute;
    top: 15px;
    width: 12px;
    height: 12px;
    background: rgba(14, 14, 209, 0.949);
    border-radius: 50%;
    left: -25px;
}

.timeline-box .timeline-date {
    font-size: 14px;
    font-weight: bold;
    color: rgba(14, 14, 209, 0.949);
}

.timeline-box .timeline-title {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}

.timeline-box p {
    font-size: 14px;
    color: #333;
}


 /*----------projects page----------*/

 #projectss{
  text-align: center;
}
  #projectss h1{
    color: blue;
    text-shadow: 2px 2px 1px white;
    font-size: 40px;
    margin-top: 3%;

   }
   #projectss .ports-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
     row-gap: 4em;
     margin-left: 3%;
   }
.ports-info{
    position: absolute;
    margin-top: -305px;
    color: white;
    text-align: center;
    padding-top: 90px;
    opacity: 0;
    font-size: 20px;
    width: 300px;
    height: 300px;
backdrop-filter: blur(5px);
    transition: 1s;
    margin-left: 1.5%;
     gap: 3em;
}
.ports-icon{
    display: flex;
    margin-left: 125px;
    gap: 20px;
}
.ports-info h4{
  color: blue;
  font-size: 30px;
}

.ports-icon a{
    color: blue;
    font-size: 35px;
}

.ports-info:hover{
    opacity: 1;
    transform: scale(1);
    width: 302px;
    height: 302px;

}


 
/*--------- phone screen------*/

@media screen and (max-width: 768px) {
  .navbar { 
    display: none;
   }

  #loki {
    width: 100%;
    margin-left: 0;
    padding: 10px;
   }

  #home {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text1 img {
    margin-top: 2em;
    width: 150px;
    height: 150px;
  }

  .text {
    padding-top: 2em;
    padding-left: 0;
  }

  #about,
  #skills,
  #certificate,
  #projects,
  #contacts {
    padding-top: 40px;
    text-align: center;
  }

  .info {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .dob {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  #status {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  #certificate .cert-list,
  #projects .port-list,
  #projectss .ports-list {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 0;
    justify-items: center;
  }

  .card {
    width: 90%;
    min-height: auto;
    height: 100%;
  }

  .cert-info {
    width: 90%;
    margin-left: 0;
  }

  .lokesh {
    flex-direction: column;
    align-items: center;
  }

  .lo2 {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .lokii1 {
    flex-direction: column;
    align-items: center;
  }

  .lokii1 input {
    width: 90%;
  }

  #ed {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .edu,
  .exp,
  .ski {
    width: 90%;
  }
   }


